<!-- <div class="articles"> -->

	<div class="api_column"> api column

		<img class="api_column_images", src="<%= asset_path ('henri-matisse-cutout.jpg') %>", alt="cutout", title="cutout...", ><br>
		<img class="api_column_images", src="<%= asset_path('dance-ii-1910.jpg') %>", alt="dance ii", title="le Danse II"><br>
		<img class="api_column_images", src="<%= asset_path ('Irises-In-Monets-Garden.jpg') %>", alt="Irises", title="Irises In Monet's Garden"><br>
		<img class="api_column_images", src="<%= asset_path ('le-reve-picasso.jpg') %>", alt="le reve", title="Le Reve"><br>	
		<img class="api_column_images", src="<%= asset_path ('morning-on-the-seine-near-giverny.jpg') %>", alt="morning on the seine near giverny", title="Morning on the Seine Near Giverny"><br>
		<img class="api_column_images", src="<%= asset_path ('Water-Lilies-and-Japanese-Bridge-(1897-1899)-Monet.jpg') %>", alt="lillies and bridge", title="Lillies and Bridge"><br>
		<img class="api_column_images", src="<%= asset_path ('nightwatch.jpg') %>", alt="Nightwatch", title="Nightwatch"><br>
		<img class="api_column_images", src="<%= asset_path ('Whitehousenight.jpg') %>", alt="White House at Night", title="White House at Night"><br>
		<img class="api_column_images", src="<%= asset_path ('the-anatomy-lesson.jpg') %>", alt="The Anatomy Lesson", title="The Anatomy Lesson"><br>


	</div>

<!-- </div> -->