<!-- <div class="articles"> -->

	<div class="api_column"> api column

		<img class="api_column_images", src="<%= asset_path ('gengar.png') %>", alt="gengar", title="gengar..." ><br>
		<img class="api_column_images", src="<%= asset_path('water-lilies.jpg') %>", alt="water lillies", title="Water Lillies"><br>
		<img class="api_column_images", src="<%= asset_path ('still life with peacocks.jpg') %>", alt="still life with peacocks", title="Still Life with Peacocks, Rembrandt"><br>
		<img class="api_column_images", src="<%= asset_path ('an_old_woman_reading.jpg') %>", alt="an old woman reading", title="An Old Woman Reading, Rembrandt"><br>	

	<img class="api_column_images", src="<%= asset_path ('monet1.jpg') %>", alt="monet 1", title="Monet"><br>

	</div>

<!-- </div> -->