<h2> stories </h2>

<%= link_to "new story", new_article_path %> | <%= link_to 'my dashboard', dashboard_path %> | <%= link_to 'home', root_path %> | <%# link_to 'edit', edit_article_path(@article) %>

<p>___________________________</p>


<% @articles.each do |article| %>

	
	<p><%= link_to article.title, article %></p>
	<p><%= article.body %></p>
	<p><%= link_to 'edit story', edit_article_path(article) %></p>
	<p><%= link_to 'delete story', article_path(article), method: :delete %></p>


	<p>___________________________</p>

	<% end %>
	<br>
	<br>

