<p> title: 
<%= @article.title %>
</p>

<p>___________________________</p>

<p> body:
<%= @article.body %>
</p>

<p>___________________________</p>


<%= link_to 'my stories', articles_path %> | <%= link_to 'my dashboard', dashboard_path %> | <%= link_to 'home', root_path %> | <%= link_to 'edit', edit_articles_path(article) %>