<%= form_for @artwork do |f| %>
	
	<% if @artwork.errors.any? %>
		<% @artwork.errors.full_messages.each do | msg | %>
			<p><%= msg %></p>
		<% end %>
	<% end %>

	<div>
		<p><%= f.label :title %></p>
		<div><%= f.text_field :title %></div>
	</div>
	<div>
		<p><%= f.label :artist %></p>
		<div><%= f.text_field :artist %></div>
	</div>
	<div>
		<p><%= f.label :year_created %></p>
		<div><%= f.number_field :year_created %></div>
	</div>
	<div>
		<p><%= f.label :origin_location %></p>
		<div><%= f.text_field :origin_location %></div>
	</div>
	<div>
		<p><%= f.label :source_url %></p>
		<div><%= f.text_field :source_url %></div>
	</div>
	<div>
		<p><%= f.label :image %></p>
		<div><%= f.file_field :avatar %></div>
	</div>
	<div>
		<div><%= f.submit %></div>
	</div>

<% end %>