
<h2 class="welcomeheadline"> Artfully craft your story... </h2>


<div class="cycle-slideshow"
	data-cycle-loader="true">
	<img src="<%= asset_path ('calder-black-and-blue-1975.jpg') %>">
	<img src="<%= asset_path ('Claude_Monet,_1867,_Regattaz.jpg') %>">
	<img src="<%= asset_path ('Family_of_Saltimbanques.JPG') %>">
	<img src="<%= asset_path ('Whitehousenight.jpg') %>">
	<img src="<%= asset_path ('la-lecture.jpg') %>">
	<img src="<%= asset_path ('pineapple-and-anemones-1940.jpg') %>">
	<img src="<%= asset_path ('the-anatomy-lesson.jpg') %>">
	<img src="<%= asset_path ('Henri-Matisse-Le-Buisson.jpg') %>">
	<img src="<%= asset_path ('dance-ii-1910.jpg') %>">
</div>