


<div class="cycle-slideshow"
	data-cycle-loader="true">
	<img src="<%= asset_path ('an_old_woman_reading.jpg') %>">
	<img src="<%= asset_path ('monet1.jpg') %>">
	<img src="<%= asset_path ('gengar.png') %>">
	<img src="<%= asset_path ('landscape_with_a_stone_bridge.jpg') %>">
	<img src="<%= asset_path ('musical_company.jpg') %>">
</div>