<div class="navbar"> 
	<nav>

		<h1 class="logo"> art collector </h1>

		<%#= @nav_subtitle %>

		<div class="navlinks">

				<li class="nav-link hover-menu">
				  <a href="javascript:void(0)">More</a>
				  <ul class="submenu">
				    <li class="hover-menu">
				      <a href="javascript:void(0)" class="hover-menu-item">
				      <% view = controller_name + "#" + action_name %>

				      <% if current_user %>


									<% if view != "users#dashboard" %>
										<%= link_to 'dashboard', dashboard_path %>
									<% end %>

									<% if view != 'articles#index' %>
										<%= link_to 'my stories', articles_path %>
									<% end %>

									<% if view != 'articles#new' %>
										<%= link_to 'new story', new_article_path %> 
									<% end %>

									<% if view != "welcome#index" %>
										<%= link_to 'home', root_path %>
									<% end %>

									<% if current_user %>
										<%= link_to 'sign out', logout_path, method: :delete %>
									<% end %>

								<% else %>

									<% if view == 'welcome#index' %>
									<%= link_to 'sign in', login_path %>
									<% end %>

									<% if view == 'welcome#index' %>
									<%= link_to 'sign up', new_user_path %>
									<% end %>
								<% end %>


							</a>
				  <!--     <ul class="submenu">
				        <li><a href="javascript:void(0)">Submenu Item</a></li>
				        <li><a href="javascript:void(0)">Another Item</a></li>
				      </ul> -->
						</li>
			  	</ul>
				</li>
		</div>
	</nav>
</div>
